/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin style here */
 html, body {
  height: 100%;
	font-family: 'Quicksand', sans-serif;
}
body {
	display: flex;
}

nav{
	display: inline-block;
	position: aboslute;
	margin: 0px;
	padding: 0px;
	min-width: 300px;
	max-width: 400px;
  height: 100%;
	overflow: scroll;
	background-image: linear-gradient(lightsteelblue,mediumaquamarine);
	//opacity: 10%;
	//border-right: 2px solid lightgrey;
}


img {
	display: block;
  border-radius: 50%;
  min-width: 200px;
	max-width: 220px;
  margin: 20px auto;
}
#name {
  width: 180px;
	font-family: eb garamond;
	font-size: 36px;
	text-align: center;
  margin: 10px auto;
}

.card {
	padding: 20px;
	min-width: 250px;
	max-width: 270px;
	margin: 20px auto;
	background-color: ghostwhite;
	border-radius: 15px;
}
#intro p {
	font-size: 12px;
	min-width: 180px;
	max-width: 200px;
	margin: 20px auto;
	letter-spacing: .5px;
	/*text-align: 
	text-justify: inter-word;*/
}

#links a {
	color: black;
	text-decoration: none;
}

#links li {
	padding: 5px;
	font-size: 14px;
	border: 1px solid mediumaquamarine;
	min-width: 180px;
	max-width: 200px;
	text-align: center;
	margin: 10px auto;
	border-radius: 15px;
}

#links li:hover {
	background-color: mediumaquamarine;
	color: ghostwhite;
}

#links a:hover {
		color: ghostwhite;
}

nav span {
	display: block;
	width: 200px;
	text-align: center;
	font-size: 10px;
	color: ghostwhite;
	opacity: 60%;
	margin: 0 auto;
}

section {
	overflow: scroll;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.content {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	min-width: 200px;
	padding: 50px;
}
.content img {
  border-radius: 0;
	border: 1px solid black;
	width: 80%;
}
.content img:hover {
	width: 100%;
}
h2 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.toolbar {
	display: none; /*this literally does nothing, I'm still learning how to style the iframe? What am I doing wrong lol, anyway if on the absolute offchance someone reads this just dm me on twitter what the fuck is going wrong @wannaberiotgirl*/
}